@use "styles/colors" as colors;

body {
  margin: 0;
  padding: 0;
}

.modal {
  background-color: colors.$white;
  border-radius: 5px;
  border: 1px solid colors.$black;
  color: colors.$black;
  left: 50%;
  padding: 10px;
  position: absolute;
  top: 25%;
  transform: translate(-50%, -50%);
  width: 600px;

  &.login-modal {
    display: inline-block;

    .login-modal__title {
      font-size: 18px;
      font-weight: 500;
      margin: 5px 0 5px 5px;
    }

    .login-modal__inputs {
      display: inline-grid;

      .MuiFormControl-root {
        margin: 5px;
      }
    }

    .MuiBox-root {
      padding: 15px;
    }

    .login-submit {
      position: absolute;
      right: 20px;
      bottom: 10px;
    }

    &.dark {
      background-color: colors.$light-gray;
    }
  }
}

.app {
  &.dark {
    background-color: colors.$medium-black;

    .MuiDataGrid-main,
    .MuiSvgIcon-root,
    .MuiToolbar-root,
    .MuiFormLabel-root,
    .MuiInputLabel-formControl,
    .MuiDataGrid-booleanCell,
    .MuiFormControlLabel-label,
    .MuiSelect-select {
      color: colors.$white;
    }

    .MuiDataGrid-root {
      background-color: colors.$black;
    }
  }
}

.MuiButton-contained {
  &:not(.Mui-disabled) {
    background-color: colors.$blue !important;
    color: colors.$white !important;
  }
}

.MuiButton-outlined {
  &:not(.Mui-disabled) {
    border-color: colors.$light-blue !important;
    color: colors.$blue !important;
  }
}
